// Group name for resource allocation must be supplied as environment variable
 
cleanup = false
 
// Group name for resource allocation must be supplied as environment variable
process {
    executor = 'slurm'
    beforeScript = 'module load StdEnv/2023 ngstools samtools scipy-stack/2025a parasail/2.6.2 rust/1.85.0 clang/18.1.8 bcftools'
    cpus             = 4
    clusterOptions = '--account=rrg-bourqueg-ad'
    memory          = 16.GB
    time            = '3h'
    resourceLimits = [
            memory: 240.GB,
            cpus: 64,
            time: 168.h 
        ]
    withName: bgzip_index_fasta {
        memory = 16.GB
        cpus = 4
        time = '1h'
       
    }
  
    withName: merge_bams {
        memory = 16.GB
        cpus = 8
        time = '1h'
         
    }
    withName: genotype_strkit {
        memory = 16.GB
        cpus = 4
        time = '2h' 
         
    }
    withName: mendelian_inheritance {
        memory = 16.GB
        cpus = 4
        time = '2h'
          
    }
    withName: targt_denovo {
        memory = 32.GB
        cpus = 8
        time = '24h'
         
    }
}



//nextflow -C hpc_ga4k_config.config run genotype_strkit.nf -resume 2>&1 | tee headnode.log
//tmux new -s genotype_strkit_run


