// Group name for resource allocation must be supplied as environment variable
 
cleanup = false
 
// Group name for resource allocation must be supplied as environment variable
process {
    executor = 'slurm'
    //beforeScript = 'module load StdEnv/2023 ngstools samtools scipy-stack/2025a parasail/2.6.2 rust/1.85.0 clang/18.1.8 bcftools'
    cpus             = 8
    clusterOptions = '--account=rrg-bourqueg-ad'
    memory          = 32.GB
    time            = '3h'
    module = [
        'StdEnv/2023',
        'ngstools',
        'samtools',
        'scipy-stack/2025a',
        'parasail/2.6.2',
        'rust/1.85.0',
        'clang/18.1.8',
        'bcftools'
    ]
    resourceLimits = [
            memory: 1040.GB,
            cpus: 64,
            time: 168.h 
        ]
    withLabel: big_mem {
        memory = 128.GB
        cpus = 16
        time = '25h'
       
    }
    withlabel: small_mem {
        memory = 32.GB
        cpus = 4
        time = '6h'
       
    }
    withName: bgzip_index_fasta {
        memory = 8.GB
        cpus = 2
        time = '1h'
       
    }
  
    withName: merge_bams {
        memory = { 64.GB * task.attempt }
        cpus = 8
        time = '5h'
        maxRetries = 3
        errorStrategy = { task.exitStatus == 137 ? 'retry' : 'finish' }
    }
    withName: genotype_strkit {
        memory = 64.GB
        cpus = 10
        time = '3h' 
         
    }
    withName: mendelian_inheritance {
        memory = 32.GB
        cpus = 2
        time = '10h'
          
    }
    withName: targt_denovo {
        memory = 64.GB
        cpus = 4
        time = '8h'
         
    }

}
params {
    snakemake_container = "/home/luisluna/links/scratch/genotype_GA4K_strs_strkit/track/track_env.sif"   // ← update this
}

apptainer {
    enabled    = true
    autoMounts = true
}
trace {
    enabled = true
    overwrite = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,attempt,cpus,memory,time,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar'
}



//nextflow -C hpc_ga4k_config.config run genotype_strkit.nf -resume 2>&1 | tee headnode.log
//tmux new -s genotype_strkit_run


//(salloc --account=rrg-bourqueg-ad --time=6:00:00 --mem=64G --cpus-per-task=16
//apptainer exec track_env.sif snakemake --snakefile tr_catalog/Snakefile --directory tr_catalog/ --cores 16 --latency-wait 30